<div class="tab-option condition"
  [class.open]="_isOpened"
  [class.opened]="_hasOpened"
  [class.closed]="_hasClosed">
  <div class="option-title condition-input">
    詳細条件
  </div>
  <div class="option-body condition-input">
    <div class="row">
      <div class="big-g-1__no-border">
        <div class="row">
          <div class="row">
            <div class="group-1">
              <label>顧客コード</label>
              <div class="form-group condition-flex">
                <bl-text-input
                  [value]="detailCustomerCondition.customerCodeS"
                  [option]="{ allows: ['number'], convertHalf: true }"
                  [maxlength]="9"
                  (changeEvent)="onChangeCustomerCode($event, 'ge')">
                </bl-text-input>
              </div>
            </div>
            <div class="group-3">
              <label>&nbsp;</label>
              <div class="form-group condition-flex">
                <span class="v-small-item-in-g2">～</span>
              </div>
            </div>
            <div class="group-1">
              <label>&nbsp;</label>
              <div class="form-group condition-flex">
                <bl-text-input
                  [value]="detailCustomerCondition.customerCodeE"
                  [option]="{ allows: ['number'], convertHalf: true }"
                  [maxlength]="9"
                  (changeEvent)="onChangeCustomerCode($event, 'le')">
                </bl-text-input>
              </div>
            </div>
            <div class="group-1">
              <label>締日</label>
              <div class="form-group condition-flex group-0">
                <bl-number-input
                  [(value)]="detailCustomerCondition.cutoffDay"
                  [option]="{ min: 1, max: 31 }"
                  >
                </bl-number-input>
                <label class="condition-label">&nbsp;&nbsp;日</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="group-1">
              <label>ヘッダ行</label>
              <div class="form-group condition-flex">
                <bl-select
                  [value]="detailCustomerCondition.outPutHeaderDiv"
                  [items]="OutputDivArray"
                  [option]="{ valueProperty: 'value', labelProperty: 'text' }"
                  (changeEvent)="onChangeOutPutHeaderDiv($event)">
                </bl-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-submit" detail-slip-condition-footer>
    <div class="search-condition-detail-footer">
      <div class="search-condition-detail-footer-condition">
      </div>
      <div class="search-condition-detail-footer-btn">
        <button class="btn btn-default" type="button"
          (click)="onClickClearButton()"
        >
          条件取消
        </button>
      </div>
    </div>
  </div>
</div>
