
<div class="tab-option condition"
  [class.open]="_isOpened"
  [class.opened]="_hasOpened"
  [class.closed]="_hasClosed">
  <div class="option-title condition-input">
    詳細条件
  </div>
  <div class="option-body condition-input">
    <div class="row">
      <div class="big-g-1__no-border">
        <div class="row">
          <div class="group-1">
            <label>担当者コード</label>
            <div class="form-group condition-flex">
              <bl-text-input
                [value]="detailCustomerCondition.picEmployeeCodeStart"
                [option]="{ enableBlank: true, convertHalf: true, allows: ['number'], paddingLeft: '0', denySpace: true }"
                [maxlength]="5"
                (changeEvent)="onChangePicEmployeeCode($event, 'ge')">
              </bl-text-input>
            </div>
          </div>
          <div class="group-3">
            <label>&nbsp;</label>
            <div class="form-group condition-flex">
              <span class="v-small-item-in-g2">～</span>
            </div>
          </div>
          <div class="group-1">
            <label>&nbsp;</label>
            <div class="form-group condition-flex">
              <bl-text-input
                [value]="detailCustomerCondition.picEmployeeCodeEnd"
                [option]="{ enableBlank: true, convertHalf: true, allows: ['number'], paddingLeft: '0', denySpace: true }"
                [maxlength]="5"
                (changeEvent)="onChangePicEmployeeCode($event, 'le')">
              </bl-text-input>
            </div>
          </div>

          <div class="group-1">
            <label>組織選択</label>
            <div class="form-group condition-flex">
              <bl-select [disabled]="!isShowCustomerInfo" id="salseOrganizationPurchase"
                [(value)]="detailCustomerCondition.salseSupplierMgtOrganization"
                [items]="purchaseSlipOrganizationSelectArray"
                [option]="{ valueProperty: 'value', labelProperty: 'text' }"
                (changeEvent)="onChangeOrganizationCtrlDivs($event)">
              </bl-select>
            </div>
          </div>
          <div class="group-3">
            <label>&nbsp;</label>
          </div>
          <div class="group-1">
            <label>仕入先選択</label>
            <div class="form-group condition-flex">
              <bl-select [disabled]="!isShowCustomerInfo" id="salseSupplierPurchase"
                [(value)]="detailCustomerCondition.salseSupplier"
                [items]="purchaseSlipSupplierSelectArray"
                [option]="{ valueProperty: 'value', labelProperty: 'text' }"
                (changeEvent)="onChangeOrganizationCtrlDivs($event)">
              </bl-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="group-1">
            <label>仕入先コード</label>
            <div class="form-group condition-flex">
              <bl-text-input
                [value]="detailCustomerCondition.payeeCodeStart"
                [maxlength]="9"
                [option]="{ allows: ['number'], convertHalf: true }"
                (changeEvent)="onChangePayeeCode($event, 'ge')">
              </bl-text-input>
            </div>
          </div>
          <div class="group-3">
            <label>&nbsp;</label>
            <div class="form-group condition-flex">
              <span class="v-small-item-in-g2">～</span>
            </div>
          </div>
          <div class="group-1">
            <label>&nbsp;</label>
            <div class="form-group condition-flex">
              <bl-text-input
                [value]="detailCustomerCondition.payeeCodeEnd"
                [maxlength]="9"
                [option]="{ allows: ['number'], convertHalf: true }"
                (changeEvent)="onChangePayeeCode($event, 'le')">
              </bl-text-input>
            </div>
          </div>

          <div class="group-1">
            <label>締日</label>
            <div class="form-group condition-flex group-0">
              <bl-text-input
                [value]="detailCustomerCondition.cutoffDay"
                [maxlength]="2"
                [option]="{ allows: ['number'], convertHalf: true, max: 31 }"
                (changeEvent)="onChangeCutoffDay($event)">
              </bl-text-input>
              <label class="label-flex">&nbsp;&nbsp;日</label>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- 明細 -->
    <div class="row" *ngIf="showDetailFlg">
      <div class="big-g-1__no-border">
        <div class="row">
          <div class="group-1">
            <label>倉庫コード</label>
            <div class="form-group condition-flex">
              <bl-text-input
                [value]="detailCustomerCondition.whCodeStart"
                [option]="{ allows: ['number', 'alphabet'], convertHalf: true }"
                [maxlength]="6"
                (changeEvent)="onChangeWhCode($event, 'ge')">
              </bl-text-input>
            </div>
          </div>
          <div class="group-3">
            <label>&nbsp;</label>
            <div class="form-group condition-flex">
              <span class="v-small-item-in-g2">～</span>
            </div>
          </div>
          <div class="group-1">
            <label>&nbsp;</label>
            <div class="form-group condition-flex">
              <bl-text-input
                [value]="detailCustomerCondition.whCodeEnd"
                [option]="{ allows: ['number'], convertHalf: true }"
                [maxlength]="6"
                (changeEvent)="onChangeWhCode($event, 'le')">
              </bl-text-input>
            </div>
          </div>

          <div class="group-1">
            <label>メーカーコード</label>
            <div class="form-group condition-flex">
              <bl-text-input
                [value]="detailCustomerCondition.itemMakerCdStart"
                [option]="{ allows: ['number'], convertHalf: true }"
                [maxlength]="9"
                (changeEvent)="onChangeItemMakerCd($event, 'ge')">
              </bl-text-input>
            </div>
          </div>
          <div class="group-3">
            <label>&nbsp;</label>
            <div class="form-group condition-flex">
              <span class="v-small-item-in-g2">～</span>
            </div>
          </div>
          <div class="group-1">
            <label>&nbsp;</label>
            <div class="form-group condition-flex">
              <bl-text-input
                [value]="detailCustomerCondition.itemMakerCdEnd"
                [option]="{ allows: ['number'], convertHalf: true }"
                [maxlength]="9"
                (changeEvent)="onChangeItemMakerCd($event, 'le')">
              </bl-text-input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="group-1">
            <label>品番</label>
            <div class="form-group condition-flex">
              <bl-text-input
                [value]="detailCustomerCondition.partsNumber"
                [maxlength]="24"
                (changeEvent)="onChangePartsNumber($event)">
              </bl-text-input>
            </div>
          </div>
          <div class="group-3">
            <label>&nbsp;</label>
            <div class="form-group condition-flex">
              <span class="v-small-item-in-g2">&nbsp;</span>
            </div>
          </div>
          <div class="group-1">
            <label>&nbsp;</label>
            <div class="form-group condition-flex">
              &nbsp;
            </div>
          </div>
          <div class="group-1">
            <label>品名</label>
            <div class="form-group condition-flex">
              <bl-text-input
                [value]="detailCustomerCondition.partsName"
                [maxlength]="100"
                (changeEvent)="onChangePartsName($event)">
              </bl-text-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-submit" detail-purchase-slip-condition-footer>
    <div class="search-condition-detail-footer">
      <div class="search-condition-detail-footer-condition">

      </div>
      <div class="search-condition-detail-footer-btn">
        <button class="btn btn-default" type="button" (click)="onClickClearButton()">
          条件取消
        </button>
      </div>
    </div>
  </div>
</div>
