.export-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  &__label {
    width: 185px;
    min-width: 185px;
    display: flex;
    align-items: center;
  }
  &__value {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    min-width: 882px;

    .single-input {
      width: 300px;
    }

    .glass-input {
      width: 88px;
      padding-right: 5px;
    }
  }
}
.td {
  padding-right: 10px;
}
.condition-label {
  display: flex;
  align-items: center;
}

.form-control {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 240px;
}

.input-form {
  &__sep {
    width: 30px;
    line-height: 20px;
    text-align: center;
  }
  &__half {
    width: 380px;
    display: flex;
    flex-direction: row;
    .input_code {
      width: 135px;
    }
  }
  &__code {
    width: 80px;
  }
  &__name {
    width: 350px;
    padding-left: 3px;
  }
}

