<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="search-condition">
        <div class="tab-header">
          出力条件を指定して　出力開始　ボタンをクリックしてください。
        </div>
        <div class="tab-body">
          <div class="row">
            <div class="col-xs-12 search-condition__contents">
              <div class="search-icon">
                <span _ngcontent-c11="" class="icon-icon_search"></span>
              </div>
              <div class="big-g-1">
                <div class="row">
                  <div class="group-1">
                    <label>出力内容</label>
                    <div class="form-group condition-flex">
                      <bl-select
                        #exportInfoType
                        [value]="exportCondition.exportInfoType"
                        [items]="ExportDepositDivArray"
                        [disabled]="ExportDepositDivArray.length <= 1"
                        [option]="{ valueProperty: 'value', labelProperty: 'text' }"
                        (valueChange)="onChangeExportInfoType($event)">
                      </bl-select>
                    </div>
                  </div>
                  <div class="group-2">
                    <label>対象期間</label>
                    <div class="form-group condition-flex">
                      <app-date-picker-condition
                        [startDate]="startDate"
                        [endDate]="endDate"
                        [era]="ad"
                        (startDateChange)="onStartDateChange($event)"
                        (endDateChange)="onEndDateChange($event)">
                      </app-date-picker-condition>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="group-1">
                    <app-range-organization
                      (guideDisabledEvent)="onGuideDisabledEvent($event)"
                      (selectInfo)="onSelectInfoEvent($event)"
                      >
                  </app-range-organization>
                  </div>
                </div>
              </div>
              <div class="big-g-2">
                <button class="btn btn-default" type="button"
                  (click)="onClickDetailButton()">
                  <span>詳細条件</span>
                  <span class="caret"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <app-detail-glass-deposit-condition
          #detailConditionDeposit
          [detailDepositCondition]="exportCondition"
          (clearCondition)="onClearCondition()">
        </app-detail-glass-deposit-condition>
      </div>
    </div>
    <app-export-pattern-selector
      [tabID]="exportInfoTabDiv.GlassDeposit"
      [(exportCondition)]="exportCondition"
      [dataExportPatterns]="dataExportPatterns"
      (changeExportPatternEvent)="onChangeDataExportPattern($event)">
    </app-export-pattern-selector>
  </div>
</div>
